<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle=#{update_user})" />
    <body>
        <div th:replace="fragments/header :: header" />


        <div class="container">

            <div id="errorMessage" class="card-panel red lighten-2" th:if="${username_exists}">
                <span class="card-title" th:text="#{username_exists}">Invalid user name or password</span>
            </div>

            <form class="col s12" th:action="@{/admin/update_user}"  th:object="${user}" method="post">
                <div class="row col s12">
                    <div class="row">

                        <div class="input-field col s12 m6">
                            <input id="pass" type="password" class="validate" required="true" th:field="*{password}" />
                            <label for="pass" th:text="#{password}">Password</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="conf_pass" type="password" class="validate" required="true"/>
                            <label for="conf_pass" th:text="#{conf_pass}" data-error="No match!">Conf pass</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="first_name" type="text" class="validate" required="true" th:field="*{firstName}" />
                            <label for="first_name" th:text="#{first_name}">First Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate" required="true" th:field="*{lastName}" />
                            <label for="last_name" th:text="#{last_name}">Last Name</label>
                        </div>
                    </div>

                    <div class="input-field col s12">

                        <select th:field="*{roles}" multiple="true" required="true">
                            <option value="" disabled="true" th:text="#{choose_roles}">Choose your option</option>
                            <option value="NURSE" th:text="#{role_nurse}">Choose your option</option>
                            <option value="DOCTOR" th:text="#{role_doctor}">Choose your option</option>
                            <option value="ADMIN" th:text="#{role_admin}">Choose your option</option>
                        </select>
                    </div>
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{active}"/>
                    <input type="hidden" th:field="*{username}" />

                </div>

                <div class="row center">
                    <a class="waves-effect waves-light btn deep-purple darken-2" th:href="@{/admin/all_users}" th:text="#{cancel}">Cancel</a>
                    <button class="btn waves-effect waves-light" type="submit" name="action" th:text="#{update}">Save<i class="material-icons right">update</i></button>
                </div>

            </form>
        </div>
        <div th:replace="fragments/footer :: footer" />
        <script type="text/javascript">
            $(document).ready(function () {
            $('select').material_select();
            });

            function checkPass() {
            if ($('#pass').val() == $('#conf_pass').val()) {
            $('#conf_pass').removeClass('invalid')
            return true;
            }
            $('#conf_pass').addClass('invalid')
            return false;
            }

            $('form').submit(function () {
            if (!checkPass()) {
            return false;
            }

            });
        </script>
    </body>
</html>
