<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title></title>
    </head>
    <body>
        <div class="container" th:fragment ="footer">
            <footer class="page-footer indigo" th:fragment="footer">
                <div class="footer-copyright">
                    <div class="container">
                        © 2018 OrdinacijaTeam
                        <span sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}">Sign Out</a>
                        </span>
                        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                    </div>
                </div>
            </footer>   
            <script src="/webjars/jquery/3.2.1/jquery.js"></script>      
            <script src="/webjars/materializecss/0.100.2/js/materialize.js"></script>
            <script type="text/javascript">
                $(".dropdown-button").dropdown();
            </script>
            <script type="text/javascript" layout:fragment="script">
            </script>
        </div>
    </body>
</html>