<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <link href="../static/css/css_grid.css" th:href="@{/css/css_grid.css}" rel="stylesheet" />
    </head>
    <body>

        <header th:fragment="pure_css_header">
            <nav>
                <div class="item-one">
                    <a th:href="@{/home}" class="navLinks">Home</a>
                </div>
                <div class="item-two">
                    <a th:href="@{/about}" class="navLinks">About</a>
                </div>
                <div class="logo">
                </div>
                <div class="item-three">
                    <a href="#" class="navLinks">Portfolio</a>
                </div>
                <div class="item-four">
                    <a href="#" class="navLinks">Contact Me</a>
                </div>
            </nav>
        </header>

    </body>
</html>
