<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="fragments/layout :: head_fragment (pageTitle='Access Denied')" />
    <body>
        <div th:replace="fragments/header :: header" />
        <div class="container below-nav-bar">
            <div class="starter-template">
                <h1 th:text="#{access_denied}">Access is denied</h1>
                <div class="row " th:inline="text"><div sec:authentication="principal"></div> [[' ' + #{not_have_access_rights}]]</div>
            </div>
            <a class="btn" th:href="@{/logout}" th:text="#{login_page}">Login</a>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </body>
</html>