<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle='Add new patient')"/>
    <body>
        <div th:replace="fragments/header :: header"/>


        <!-- Modal Structure  for adding new fields dynamically TODO-->
        <div id="delete" class="modal">
            <div class="modal-content">
                <h4 th:text="#{deleting_user}">Deleting user</h4>
                <p th:text="#{delete_confirmation_text}">Are you sure</p>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" th:attr="data-tooltip=#{delete_forever}"  type="submit" form="delform"><i class="material-icons">delete_forever</i></button> 
                <button class="btn waves-effect waves-light blue tooltipped" data-position="bottom" data-delay="50" th:attr="data-tooltip=#{suspend}"   type="submit" form="suspendform"><i class="material-icons">eject</i></button>  
            </div>
        </div>

        <div class="container">

            <div class="card blue-grey darken-1 hoverable">
                <div class="card-content white-text">
                    <div class="card-title">
                        <span th:inline="text">[[#{new_vitals} +  ' ' + ${vitals.patient.firstName} + ' ' + ${vitals.patient.lastName}]]</span>                     
                    </div>
                </div>
            </div>

            <form id="vitals_form" th:object="${vitals}" th:action="@{/nurse/add_vitals}" method="post">
                <div class="row col s12">
                    <div class="input-field col s12 m4">
                        <input id="dbp" type="number" min="30" max="250" class="validate" required="true"
                               th:field="*{diastolicBP}"/>
                        <label for="dbp" th:text="#{diastolic_bp}">Diastolic BP</label>
                    </div>

                    <div class="input-field col s12 m4">
                        <input id="sbp" type="number" min="50" max="300" class="validate" required="true"
                               th:field="*{systolicBP}"/>
                        <label for="sbp" th:text="#{systolic_bp}">Systolic BP</label>
                    </div>

                    <div class="input-field col s12 m4">
                        <input id="temp" type="number" step="0.01" min="10" max="50" class="validate" required="true"
                               th:field="*{bodyTemp}"/>
                        <label for="temp" th:text="#{body_temp}">Body Temp</label>
                    </div>

                </div>

                <div class="row col s12">
                    <div class="input-field col s12 m4">
                        <input id="heart" type="number" min="30" max="270" class="validate" required="true"
                               th:field="*{heartRate}"/>
                        <label for="heart" th:text="#{heart_rate}">Heart Rate</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="height" type="number" min="40" max="300" class="validate" required="true"
                               th:field="*{height}"/>
                        <label for="height" th:text="#{height}">Height</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="mass" type="number" min="0" max="500" class="validate" required="true"
                               th:field="*{mass}"/>
                        <label for="mass" th:text="#{mass}">Height</label>
                    </div>
                </div>

                <div class="row col s12">
                    <input type="number" >

                    </input>
                </div>


                <button></button>

                <input type="hidden" th:field="*{patient.id}"/>
                <input type="hidden" th:field="*{measuringDate}"/>


                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit" name="action" th:text="#{save}">Submit
                        <i class="material-icons right">save</i>
                    </button>
                </div>
            </form>
        </div>

        <div th:replace="fragments/footer :: footer"/>

    </body>
</html>

