<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle='Add appointment')"/>
    <body>
        <div th:replace="fragments/header :: header"/>


        <div class="container">
            <div class="card orange darken hoverable">
                <div class="card-content white-text">
                    <div class="card-title">
                        <span th:text="#{appointment}">New Appointment</span>                     
                    </div>
                </div>
            </div>
            <a class="waves-effect waves-light btn deep-purple darken-2" th:href="@{/nurse}" th:text="#{cancel}">Cancel</a>
            <form id="post_slot_form" th:action="@{/nurse/add_appointment}" th:object="${appointment}" method="post">
                <input type="hidden" th:field="*{patient.id}" />
                <input type="hidden" th:field="*{doctor.id}" />
                <div class="row" >

                    <div class="col s3" th:each="slot : ${slots}">
                        <div class="card blue">
                            <div class="card-content white-text">
                                <span class="card-title" th:text="${slot.time.hour}">Card Title</span>
                                <p th:text="${slot.partNumber * slot_value}">I am </p>
                            </div>
                            <div class="card-action">
                                <button class="btn small waves-effect waves-light" th:classappend="${slot.occupied} ? 'disabled' : ''"  type="submit"  th:inline="text"
                                        th:onClick="|setSelectedSlot('${slot.date}','${slot.time}','${slot.partNumber}' )|"><i class="material-icons right">check</i></button> 
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div th:replace="fragments/footer :: footer"/>

        <script th:inline="javascript">
            /*<![CDATA[*/

            var data;

            function setSelectedSlot(sdate, stime, spart) {
                data = "?d=" + sdate + "&" + "t=" + stime + "&" + "p=" + spart;
            }

            $('#post_slot_form').on('submit', function () {
                var postSlot = $('#post_slot_form').attr('action');
                $('#post_slot_form').attr('action', postSlot + data);
            });

            /*]]>*/
        </script>
    </body>
</html>
