<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xlmns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle='Patients')"/>
    <body>

       <div th:replace="fragments/header :: header"/>

        <div class="container below-nav-bar">
            <div class="card">
                <div class="card-block">
                    <table class="highlight">
                        <thead >
                            <tr>
                                <th th:text="#{first_name}">First Name</th>
                                <th th:text="#{last_name}">Last Name</th>
                                <th th:text="#{blood_type}">Blood Type</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <tr th:each="patient :${patients.content}">
                                <td th:text="${patient.firstName}"></td>
                                <td th:text="${patient.lastName}"></td>
                                <td th:text="${patient.bloodType}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <ul class="pagination">
                        <!--<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>-->
                        <li th:each=" i : ${#numbers.sequence(1, patients.totalPages)}"
                             class="waves-effect"
                               th:classappend="${currentPage}==${i-1}?'active teal lighten-2':''" >
                            <a th:href="@{/nurse/page_patients/(pageNumber=${i-1})}" th:text="${i}"></a>
                        </li>
                        <!--<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>-->
                    </ul>

                </div>
            </div>

        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>
