<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle='Update patient')"/>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container">

            <div class="card orange darken hoverable">
                <div class="card-content white-text">
                    <div class="card-title">
                        <span th:text="#{patient}">Patient</span>                     
                    </div>
                </div>
            </div>

            <form  th:action="@{/nurse/update_patient}" th:object="${patient}" method="post">

               
                <div class="row">
                    <div class="input-field col s12 m4 ">
                        <input id="first_name" type="text" class="validate" required="true"
                               th:field="*{firstName}" maxlength="20"/>
                        <label for="first_name" th:text="#{first_name}" >First Name</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="middle_name" type="text" class="validate"
                               th:field="*{middleName}" maxlength="20"/>
                        <label for="middle_name" th:text="#{middle_name}">Middle Name</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="last_name" type="text" class="validate" required="true"
                               th:field="*{lastName}" maxlength="20"/>
                        <label for="last_name" th:text="#{last_name}">Last Name</label>
                    </div>
                </div>

                <div class="row">

                    <div class="input-field col s12 m4">
                        <input id="dob" type="text" class="datepicker"
                               th:field="*{dateOfBirth}" required="true"/>
                        <label for="dob" th:text="#{dob}">Date of Birth</label>
                    </div>

                    <div class="input-field col s6 m4">
                        <select th:field="*{gender}">
                            <option value="MALE" th:text="#{gender_male}">Male</option>
                            <option value="FEMALE" th:text="#{gender_female}">Female</option>
                        </select>

                    </div>

                    <div class="input-field col s6 m4">
                        <select th:field="*{bloodType}">
                            <option value="UNDETERMINED" th:text="#{blood_type.undetermined}">Undetermined</option>
                            <option value="A_POSITIVE" th:text="#{blood_type.a_pos}">A positive</option>
                            <option value="A_NEGATIVE" th:text="#{blood_type.a_neg}">A negative</option>
                            <option value="B_POSITIVE" th:text="#{blood_type.b_pos}">B positive</option>
                            <option value="B_NEGATIVE" th:text="#{blood_type.b_neg}">B negative</option>
                            <option value="AB_POSITIVE" th:text="#{blood_type.ab_pos}">AB positive</option>
                            <option value="AB_NEGATIVE" th:text="#{blood_type.ab_neg}">AB negative</option>
                            <option value="O_POSITIVE" th:text="#{blood_type.o_pos}">O positive</option>
                            <option value="O_NEGATIVE" th:text="#{blood_type.o_neg}">O negative</option>
                        </select>

                    </div>

                </div>

                <div class="input-field col s12">
                    <input id="allergies" type="text" class="validate" 
                           th:field="*{allergies}"/>
                    <label for="allergies" th:text="#{allergies}">Allergies</label>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">phone</i>
                        <input id="phone_number" type="tel" class="validate" pattern="^\+?\d{0,13}"
                               th:field="*{contactInfo.phone}"/>
                        <label for="phone_number" th:text="#{phone}">Phone Number</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate"
                               th:field="*{contactInfo.email}"/>
                        <label for="email"  th:text="#{email}">Email</label>
                    </div>


                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="address" type="text" class="validate" required="true"
                               th:field="*{contactInfo.address}" maxlength="60"/>
                        <label for="address"  th:text="#{address}">Address</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <select th:field="*{contactInfo.city.zipCode}">
                            <option th:each="city : ${cities}" th:text="${city.name}" th:value="${city.zipCode}"></option>
                        </select>
                    </div>
                </div>
                 <div class="row">
                 <input type="hidden" th:field="*{id}" />
                 <input type="hidden" th:field="*{contactInfo.id}" />
                 </div>
                <div class="row center">
                    <a class="waves-effect waves-light btn deep-purple darken-2" th:href="@{/nurse}" th:text="#{cancel}">Cancel</a>
                    <button class="btn waves-effect waves-light" type="submit" th:text="#{save}">Submit
                        <i class="material-icons right">save</i>
                    </button>
                </div>
            </form>



        </div>

        <div th:replace="fragments/footer :: footer"/>

        <script type="text/javascript">

            $(document).ready(function () {

                $('select').material_select();

                $('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 100, // Creates a dropdown of 15 years to control year,
                    format: 'dd-mm-yyyy',
                    formatSubmit: 'yyyy-mm-dd',
                    hiddenName: true,
                    today: 'Today',
                    clear: 'Clear',
                    close: 'Ok',
                    max: true,
                    closeOnSelect: true,
                    firstDay: 1
                });


            });

            function checkDate() {
                if ($('#dob').val() == '') {
                    $('#dob').addClass('invalid')
                    return false;
                } else {
                    $('#dob').removeClass('invalid')
                    return true;
                }
            }

            $('form').submit(function () {
                if (!checkDate()) {
                    return false;
                }

            });

            $('#dob').change(function () {
                checkDate();
            });



        </script>
    </body>
</html>

