<!doctype html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/layout :: head_fragment (pageTitle='Admin')">

    </head>
    <body>

        <div th:replace="fragments/header :: header"/>

        <div class="container">
            <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/nurse/search}">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" th:placeholder="#{search}"  name="searchText" required="true"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{search}" >Search</button>
            </form>

            <div class="row">
                <div class="col s12 m6">
                    <div class="card white-text text-darken-2 hoverable">
                        <div class="card-content orange lighten-2">
                            <span class="card-title" th:text="#{users}">Users</span>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/admin/all_users}" th:text="#{show}">Show</a>
                            <a th:href="@{/admin/add_user}" th:text="#{add_new}" >Add new</a> 
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card white darken-1 white-text text-darken-2 hoverable">
                        <div class="card-content cyan darken-1">
                            <span class="card-title" th:text="#{patients}">Patients</span>
                        </div>
                        <div class="card-action">
                            <a class="cyan-text darken-1" th:href="@{/nurse/all_patients}" th:text="#{show_all}">Show all</a>
                            <a class="cyan-text darken-1" th:href="@{/nurse/new_patient}" th:text="#{add_new}">Add new</a>
                            <a class="cyan-text darken-1" th:href="@{/nurse/page_patients}" th:text="#{paged}">Paged</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>