<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
   <head th:replace="fragments/layout :: head_fragment (pageTitle='All patients')"/>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container below-nav-bar">
            <div th:if="${not #lists.isEmpty(patients)}">
                <h2>Patient list</h2>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                    </tr>
                    <tr th:each="patient : ${patients}">
                        <td th:text="${patient.id}"></td>
                        <td th:text="${patient.firstName}"></td>
                        <td th:text="${patient.middleName}"></td>
                        <td th:text="${patient.lastName}"></td>
                        <td th:text="${patient.contactInfo?.phone}"></td>
                        <td th:text="${patient.contactInfo?.email}"></td>
                        <td th:text="${patient.contactInfo?.address}"></td>

                    </tr>
                    
                </table>


            </div>

            <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/add_new_patient}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="">Add new Patient</button>
            </form>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>