<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle='All patients')">
        <title/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container">

            <div th:if="${not #lists.isEmpty(patients)}">
                <div class="row col s12">
                    <h4 th:text="#{manage_patients}">Manage Patients</h4>
                    <form class="col s6" action="#" th:action="@{/new_patient}">
                    <button class="btn btn-outline-success my-2 my-sm-0" th:text="#{add_new}">Add new Patient</button>
                </form>
                </div>
                
                <table class="highlight">
                    <thead>
                        <tr>
                            <th th:text="#{first_name}">First Name</th>
                            <th th:text="#{middle_name}">Middle Name</th>
                            <th th:text="#{last_name}">Last Name</th>
                            <th th:text="#{dob}">Date Of Birth</th>
                            <th th:text="#{phone}">Phone</th>
                            <th th:text="#{email}">Email</th>
                            <th th:text="#{address}">Address</th>
                        </tr>
                    </thead>
                    <tbody th:each="patient : ${patients}">
                        <tr>
                            <td th:text="${patient.firstName}"></td>
                            <td th:text="${patient.middleName}"></td>
                            <td th:text="${patient.lastName}"></td>
                            <td th:text="${#dates.format(patient.dateOfBirth, 'dd-MM-yyyy')}"></td>
                            <td th:text="${patient.contactInfo?.phone}"></td>
                            <td th:text="${patient.contactInfo?.email}"></td>
                            <td th:text="${patient.contactInfo?.address}"></td>
                        </tr>
                    </tbody>

                </table>


            </div>

        </div>
        <div th:replace="fragments/footer :: footer"/>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.collapsible').collapsible();
            });
        </script>
    </body>
</html>