<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ordinacija</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Ordinacija Home page</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/physician}">Physician page (Spring Security protected, Need Physician Role)</a></h2>
        <h2>3. Visit <a th:href="@{/nurse}">Nurse(Spring Security protected, Need Nurse Role</a></h2>
        <h2>4. Visit <a th:href="@{/about}">About page - Spring Security not needed</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
