<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ordinacija</title>
    <div th:replace="fragments/header :: header-css"/>
       
    </head>
    <body>
    <div th:replace="fragments/header :: header"/>
    <div class="container">
        <div class="starter-template">
            <h1>Ordinacija Home page</h1>
            <h2><a th:href="@{/admin}">Admin</a></h2>
            <h2><a th:href="@{/physician}">Physician</a></h2>
            <h2><a th:href="@{/nurse}">Nurse</a></h2>
            <h2><a th:href="@{/about}">About</a></h2>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
    </body>
</html>
