<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle='Add new patient')"/>
    <body>
        <div th:replace="fragments/header :: header"/>


        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" th:href="@{#modal1}">Modal</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content" th:object="${patient}">
                <h4 th:text="${patient.firstName}"></h4>
                <form id="modal_form" th:action="@{/new_patient}" th:object="${patient}" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="First Name" id="first_name" type="text" class="validate" required="true"
                                   th:field="*{firstName}"/>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Last Name" id="last_name" type="text" class="validate" required="true"
                                   th:field="*{lastName}"/>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-lg btn-outline-primary btn-block" value="Save" th:value="#{save}"/>
                <!--<button  form="modal_form" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Save</button>-->
            </div>
        </div>

        <div class="container">
            <h4 th:text="#{new_patient}">New patient</h4>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form action="#" th:action="@{/new_patient}" th:object="${patient}" method="post">

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate" required="true"
                                   th:field="*{firstName}"/>
                            <label for="first_name" th:text="#{first_name}" >First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate" required="true"
                                   th:field="*{lastName}"/>
                            <label for="last_name" th:text="#{last_name}">Last Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="middle_name" type="text" class="validate"
                                   th:field="*{middleName}"/>
                            <label for="middle_name" th:text="#{middle_name}">Middle Name</label>
                        </div>
                        <div class="input-field col s2">

                            <select th:field="*{gender}" th:remove="all-but-first">
                                <option th:each="gender : ${genders}"
                                        th:value="${gender}" th:text="${gender}"></option>
                            </select>
                            <label for="gender" th:text="#{gender}">Gender</label>
                        </div>
                        <div class="input-field col s2">

                            <select th:field="*{bloodType}" th:remove="all-but-first">
                                <option th:each="bloodType : ${bloodTypes}"
                                        th:value="${bloodType}" th:text="${bloodType}"></option>
                            </select>
                            <label for="bloodType" th:text="#{blood_type}">Blood Type</label>

                        </div>
                        <div class="input-field col s2">
                            <input id="dob" type="date" class="datepicker picker__input" 
                                   th:field="*{dateOfBirth}" required="true"/>
                            <label for="dob" th:text="#{dob}">Date of Birth</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="phone_number" type="text" class="validate" required="true"
                                   th:field="*{phone}"/>
                            <label for="phone_number" th:text="#{phone}">Phone Number</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="email" type="email" class="validate" required="true"
                                   th:field="*{email}"/>
                            <label for="email" th:text="#{email}">Email</label>
                        </div>


                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="address" type="text" class="validate" required="true"
                                   th:field="*{address}"/>
                            <label for="address"  th:text="#{address}">Address</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="city" type="text" class="validate" required="true"
                                   th:field="*{cityName}"/>
                            <label for="city" th:text="#{city}">City</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-outline-primary btn-block" value="Save" th:value="#{save}"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div th:replace="fragments/footer :: footer"/>

        <script type="text/javascript">

            $(document).ready(function () {

                $('select').material_select();

                $('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 100, // Creates a dropdown of 15 years to control year,
                    formatSubmit: 'yyyy-mm-dd',
                    today: 'Today',
                    clear: 'Clear',
                    close: 'Ok',
                    max: true,
                    closeOnSelect: true // Close upon selecting a date,
                            // editable: true
                });

                // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();


            });

            function checkDate() {
                if ($('#dob').val() == '') {
                    $('#dob').addClass('invalid')
                    return false;
                } else {
                    $('#dob').removeClass('invalid')
                    return true;
                }
            }

            $('form').submit(function () {
                if (!checkDate()) {
                    return false;
                }

            });

            $('#dob').change(function () {
                checkDate();
            });

            form.validate({
                rules: {
                    phone_number: {required: true,
                        matches: "^(\\d|\\s)+$",
                        minlength: 10,
                        maxlength: 20}
                }
            });

        </script>
    </body>
</html>

