<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle=#{nurse})" />
    <body>
        <div th:replace="fragments/header :: header" />
        <div class="container">

            <div class="search-wrapper">

                <form  class="search" action="#" th:action="@{/nurse/search_results}" >
                    <input id="search" type="text" name="searchText" required="true" class="validate" th:placeholder="#{search}" pattern=".{4,}"/>

                </form>

            </div>
            <a class="btn-large waves-effect waves-light   orange darken-3" th:href="@{/nurse/add_patient}"><i class="material-icons">person_add</i></a> 
            <div th:if="${vitals_added}" id="alert_box" class="card-panel blue lighten-2" >
                <span class="card-title" th:text="#{vitals_success}"></span>
            </div>
            <div th:if="${appointment_added}" id="alert_box" class="card-panel blue lighten-2" >
                <span class="card-title" th:text="#{appointment_success}"></span>
            </div>
            <div th:if="${already_appointed}" id="alert_box" class="card-panel red lighten-2" >
                <span class="card-title" th:text="#{already_appointed}"></span>
            </div>
            <div th:if="not (${added_patient} == null)" id="alert_box" class="card-panel blue lighten-2" >
                <span class="card-title" th:inline="text">[[#{patient} + ' ' +  ${added_patient.firstName} + ' ' + ${added_patient.lastName} + ' ' + #{succ_added}  ]]</span>
            </div>
            <div th:if="${zero_search}" id="alert_box" class="card-panel red lighten-2" >
                <span class="card-title" th:text="#{no_search_results}"></span>
            </div>
            <div th:if="not ${patient_updated == null}" id="alert_box" class="card-panel green lighten-2" >
                <span class="card-title" th:inline="text">[['Patient ' + ${patient_updated.firstName} + ' successfully updated.' ]]</span>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <div class="card cyan darken-1 hoverable">
                        <div class="card-content white-text">
                            <div class="row card-title center-align">
                                <span th:text="#{today_patients}">Today Patients</span>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${not #lists.isEmpty(patients)}" >
                        <h6 th:inline="text">[['No patients for today. Maybe is time for break? :)']]<i class="material-icons">smile</i> </h6>
                    </div>


                    <div th:if="${not #lists.isEmpty(patients)}">


                        <ul class="collapsible" data-collapsible="accordion">
                            <li th:each="patient : ${patients}">
                                <div class="collapsible-header" th:inline="text"><i class="material-icons">person</i>[[${patient.firstName + ' ' + patient.lastName}]]</div>
                                <div class="collapsible-body">
                                    <a class="waves-effect waves-light btn" th:href="@{'/nurse/add_vitals?id=' + ${patient.id}}"><i class="material-icons">favorite</i></a>
                                    <a class="waves-effect waves-light btn deep-purple darken-2" th:href="@{'/nurse/add_appointment?id=' + ${patient.id}}"><i class="material-icons">schedule</i></a>
                                    <a class="waves-effect waves-light btn deep-purple darken-2" th:href="@{'/nurse/update_patient/' + ${patient.id}}"><i class="material-icons">update</i></a>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m4">
                    
                    <div class="card cyan darken-1 hoverable">
                        <div class="card-content white-text">
                            <div class="row card-title center-align">

                                <span th:text="#{recently_added}">Today Patients</span>

                            </div>
                        </div>
                    </div>
                     <div th:unless="${not #lists.isEmpty(today_added)}" >
                        <h6 th:inline="text">[['No new patients added for now.']]<i class="material-icons">smile</i> </h6>
                    </div>
                    <div th:if="${not #lists.isEmpty(today_added)}">

                        <ul class="collapsible" data-collapsible="accordion">
                            <li th:each="added : ${today_added}">
                                <div class="collapsible-header" th:inline="text"><i class="material-icons">person</i>[[${added.firstName + ' ' + added.lastName}]]</div>
                                <div class="collapsible-body">
                                    <a class="waves-effect waves-light btn" th:href="@{'/nurse/add_vitals?id=' + ${added.id}}"><i class="material-icons">favorite</i></a>
                                    <a class="waves-effect waves-light btn deep-purple darken-2" th:href="@{'/nurse/add_appointment?id=' + ${added.id}}"><i class="material-icons">schedule</i></a>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m4">

                    <div th:if="${not #lists.isEmpty(finished)}">
                        <div class="card cyan darken-1 hoverable">
                            <div class="card-content white-text">
                                <div class="row card-title center-align">

                                    <span th:text="#{medical_finished}">Medical Finished</span>

                                </div>
                            </div>
                        </div>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li th:each="fin : ${finished}">
                                <div class="collapsible-header" th:inline="text"><i class="material-icons">person</i>[[${fin.firstName + ' ' + fin.lastName}]]</div>
                                <div class="collapsible-body">
                                    <a class="waves-effect waves-light btn deep-purple darken-2" th:href="@{'/nurse/add_appointment?id=' + ${fin.id}}"><i class="material-icons">schedule</i></a>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer" />
        <script type="text/javascript">
            $('#alert_box').click(function () {
                $("#alert_box").fadeOut("slow", function () {
                });
            });

        </script>

    </body>
</html>