<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle='Nurse page')"/>
    <body>

        <div th:replace="fragments/header :: header"/>

        <div class="container below-nav-bar">


            <h1 th:text="#{greeting}"/>
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

            <h1>You are visiting Nurse page</h1>

        </div>

        <footer th:replace="fragments/footer :: footer"/>

    </body>
</html>