<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 <head th:replace="fragments/layout :: head_fragment (pageTitle='Physician')"/>
    <body>
        
        <div th:replace="fragments/header :: header"/>

        <div class="container below-nav-bar">

                <h1>Physician page (Spring Security protected)</h1>
                <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        </div>
        
        <div th:replace="fragments/footer :: footer"/>

    </body>
</html>