<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/layout :: head_fragment (pageTitle='Search results')"/>
    <body>
       <div th:replace="fragments/header :: header"/>

        <div class="container below-nav-bar">
            <h1>Search results for " <span th:text="${searchedFor}"></span> "</h1>
            <div th:if="${not #lists.isEmpty(patients)}">
                <h2>Patient list</h2>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                    <tr th:each="patient : ${patients}">
                        <td th:text="${patient.id}"></td>
                        <td th:text="${patient.firstName}"></td>
                        <td th:text="${patient.lastName}"></td>
                        <td th:if="${patient.contactInfo != null}" th:text="${patient.contactInfo.phone}"></td>
                        <td th:if="${patient.contactInfo != null}" th:text="${patient.contactInfo.email}"></td>
                        
                                         
                        
                    </tr>
                </table>

            </div>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>