<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head_fragment (pageTitle='Single patient')">
        <title></title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div th:replace="fragments/footer :: footer"/>

        <script type="text/javascript">

            $(document).ready(function () {
                
            });

        </script>
    </body>
</html>


